:host(highlight-box) {
  overflow: clip;
  position: fixed;
  display: block;
  z-index: 1;
  inset-inline-start: 0;
  inset-inline-end: 0;
  inset-block-start: 0;
  inset-block-end: 0;
  pointer-events: none;
}
.highlight {
  position: absolute;
  display: flex;
  outline: 2px dotted blue;
}
.side {
  position: absolute;
  display: block;
  background-color: rgba(0,0,0, 0.66);
}
.word-highlight {
  display: block;
  flex-basis: auto;
  width: 10px;
  height: 10px;
  border: 1px solid orange;
  background-color: rgba(255,153,0, 0.5);
}

